<div class="w-full nav-content-container">
  <div class="w-full h-1/2 shadow-lg p-6">
    <div class="flex justify-around">
      <div class="flex flex-col">
        <h1 class="mb-5 text-2xl font-bold">Categories</h1>
        <div class="flex flex-col items-start">
          <button
            (click)="handleNavigate('/products/' + category.id + '/' + item.id)"
            mat-button
            *ngFor="let item of category.sections"
            class="hover:text-yellow-500 text-xl mb-4"
          >
            {{ item.name }}
          </button>
        </div>
      </div>
      <div class="flex flex-col mb-5 justify-center">
        <h1 class="mb-5 text-2xl font-bold">New Arrivals</h1>
        <div class="flex gap-5">
          <div>
            <div
              (click)="handleNavigate(category.featured[0].link)"
              class="flex flex-col justify-center items-center cursor-pointer"
            >
              <img
                class="w-[19rem] h-[20rem] object-cover object-top mb-3"
                [src]="category.featured[0].imageSrc"
                [alt]="category.featured[0].name"
              />
              <p class="text-xs font-semibold">
                {{ category.featured[0].name }}
              </p>
            </div>
          </div>
          <div class="hidden lg:block">
            <div
              (click)="handleNavigate(category.featured[1].link)"
              class="flex flex-col justify-center items-center cursor-pointer"
            >
              <img
                class="w-[19rem] h-[20rem] object-cover object-top mb-3"
                [src]="category.featured[1].imageSrc"
                [alt]="category.featured[1].name"
              />
              <p class="text-xs font-semibold">
                {{ category.featured[1].name }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
