<div class="border p-3 border-gray-400 dark:border-gray-700">
  <div class="grid grid-cols-6">
    <div class="col-span-3">
      <div class="flex items-center w-full flex-col lg:flex-row">
        <img
          class="w-[5rem] h-[5rem] object-cover object-top mb-3 lg:mb-0"
          [src]="item.product.imageUrl"
          [alt]="item.product.title"
        />
        <div class="ml-5">
          <p class="font-semibold text-sm lg:text-lg">
            {{ item.product.title }}&nbsp;x&nbsp;{{ item.quantity }}
          </p>
          <p class="text-xs lg:text-sm text-gray-500">Size: {{ item.size }}</p>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <p class="font-semibold text-sm lg:text-lg">
        ₹{{ item.discountedPrice }}
      </p>
    </div>
    <div class="col-span-2">
      <p
        [class.text-purple-500]="orderStatus === 'PENDING'"
        [class.text-orange-500]="orderStatus === 'PLACED'"
        [class.text-yellow-500]="orderStatus === 'CONFIRMED'"
        [class.text-lime-500]="orderStatus === 'SHIPPED'"
        [class.text-green-500]="orderStatus === 'DELIVERED'"
        [class.text-red-500]="orderStatus === 'CANCELLED'"
        class="text-xs lg:text-sm text-right"
      >
        {{ orderStatus }}
      </p>
    </div>
  </div>
</div>
