<div *ngIf="orders && orders.length !== 0" class="py-20 px-5 lg:px-20">
  <h1 class="text-2xl font-bold text-center py-10">Orders</h1>
  <div class="lg:grid grid-cols-4 gap-5">
    <!-- <div class="col-span-1">
      <h2 class="font-semibold mb-2 text-center lg:text-left">Filters</h2>
      <div class="flex justify-center lg:flex-col mb-2 lg:mb-0">
        <div *ngFor="let option of orderFilters">
          <div class="flex items-center">
            <mat-checkbox
              class="order-filter-checkbox"
              id="option.value"
              [value]="option.value"
            >
              <span class="option-label text-sm text-gray-500">
                {{ option.label }}
              </span>
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-span-4 space-y-5">
      <div
        class="space-y-5 p-3 border rounded-md border-gray-400 dark:border-gray-700"
        *ngFor="let item of orders"
      >
        <p
          class="text-sm py-2 lg:text-base text-center font-semibold mb-2 bg-purple-700 text-white"
        >
          Order Placed On
          {{ formatDate(item.orderDate) }}
        </p>
        <div *ngFor="let orderItem of item.orderItems">
          <app-order-card
            (click)="navigateToOrderDetails(item._id)"
            class="cursor-pointer"
            [item]="orderItem"
            [orderStatus]="item.orderStatus"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="orders && orders.length === 0" class="py-20 px-5 lg:px-20">
  <p class="text-bold text-2xl text-center">No Orders To Display</p>
</div>
