<div
  class="p-5 shadow-lg border rounded-md border-gray-400 dark:border-gray-700"
>
  <div class="flex items-center">
    <div class="w-[5rem] h-[5rem] lg:w-[9rem] lg:h-[9rem]">
      <img
        class="w-full h-full object-cover object-top"
        src="https://images.bewakoof.com/t1080/men-s-orange-offline-typography-oversized-hoodies-597129-1726228295-1.jpg"
        alt=""
      />
    </div>
    <div class="ml-5 space-y-1">
      <p class="font-semibold">
        Men's Orange Offline Typography Oversized Hoodies
      </p>
      <p class="text-gray-500">Size: M</p>
      <div class="flex space-x-2 items-center pt-3">
        <p class="font-semibold text-lg">₹999</p>
        <p class="text-gray-500 line-through">₹2,599</p>
        <p class="text-green-500 font-semibold">61% OFF</p>
      </div>
    </div>
  </div>
  <div class="flex items-center pt-4 justify-between lg:space-x-10">
    <div class="flex items-center space-x-2">
      <div class="cart-page-button-container">
        <button
          mat-mini-fab
          class="item-number-button"
          (click)="updateItemNumber(-1)"
          [disabled]="false"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <span class="py-1 px-7 border border-gray-800 rounded-sm">1</span>
      <div class="cart-page-button-container">
        <button
          mat-mini-fab
          color="warn"
          class="item-number-button"
          (click)="updateItemNumber(1)"
          [disabled]="false"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <button
      (click)="removeCartItem()"
      class="cart-product-delete-button"
      mat-mini-fab
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
