<div class="border p-3 border-gray-400 dark:border-gray-700">
  <div class="grid grid-cols-6">
    <div class="col-span-3">
      <div class="flex items-center w-full flex-col lg:flex-row">
        <img
          class="w-[5rem] h-[5rem] object-cover object-top mb-3 lg:mb-0"
          src="https://i.ibb.co/nkLc6MS/men-s-brown-standard-typography-super-loose-fit-flat-knit-sweater-597245-1726047157-1.webp"
          alt=""
        />
        <div class="ml-5">
          <p class="font-semibold text-sm lg:text-lg">
            Men's Brown Standard Typography Super Loose Fit Flat Knit Sweater
          </p>
          <p class="text-xs lg:text-sm text-gray-500">Size: M</p>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <p class="font-semibold text-sm lg:text-lg">₹999</p>
    </div>
    <div class="col-span-2">
      <p class="text-sm lg:text-lg font-semibold mb-2">
        Expected Delivery On March 03
      </p>
      <p class="text-xs lg:text-sm">Your Item Has Been Delivered</p>
    </div>
  </div>
</div>
