<div class="mt-24 space-y-5 px-5 lg:px-20">
  <ng-container *ngIf="order">
    <div class="p-5 shadow-lg border border-gray-400 dark:border-gray-700 my-5">
      <app-address-card [address]="order.shippingAddress" />
    </div>
    <div
      class="grid grid-cols-1 gap-5 lg:grid-cols-3 relative justify-between py-5"
    >
      <div class="col-span-2">
        <div
          *ngIf="order"
          class="space-y-3 border-gray-400 dark:border-gray-700"
        >
          <div *ngFor="let product of order.orderItems; let last = last">
            <app-cart-item [cartItem]="product" [showButtons]="false" />
          </div>
        </div>
      </div>
      <section class="col-span-1 px-5 sticky top-0 h-[100vh] mt-5 lg:mt-0">
        <ng-container *ngIf="order">
          <div
            class="border p-5 border-gray-400 dark:border-gray-700 rounded-md"
          >
            <p class="font-bold text-lg pb-4">Price Summary</p>
            <mat-divider></mat-divider>
            <div class="space-y-3">
              <div class="flex justify-between pt-3">
                <span>Total Price</span>
                <span>₹{{ order.totalPrice }}</span>
              </div>
              <div class="flex justify-between pt-3">
                <span>Discount</span>
                <span class="text-green-500">-₹{{ order.discount }}</span>
              </div>
              <div class="flex justify-between pt-3">
                <span>Delivery Charges</span>
                <span>Free</span>
              </div>
              <div class="flex justify-between pt-3 font-semibold text-lg">
                <span>Total Amount</span>
                <span>₹{{ order.totalDiscountedPrice }}</span>
              </div>
            </div>
            <button
              style="padding: 1rem; background-color: #ffd232"
              class="text-lg mt-8 p-28 px-10 w-full font-semibold text-black"
              (click)="proceedToPayment()"
            >
              PROCEED
            </button>
          </div>
        </ng-container>
      </section>
    </div>
  </ng-container>
</div>
