<div class="grid grid-cols-1 gap-4 lg:grid-cols-12 px-5 lg:px-20">
  <div class="col-span-1 lg:col-span-12">
    <p class="text-2xl font-bold text-center my-6">Add Product</p>
  </div>
  <div class="col-span-1 lg:col-span-12">
    <div
      class="rounded-md shadow-md p-5 border border-gray-500 dark:border-gray-700"
    >
      <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">
        <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
          <div class="col-span-2">
            <mat-form-field class="w-full delivery-input-field">
              <mat-label>Title</mat-label>
              <input
                matInput
                formControlName="title"
                placeholder="Title"
                autocomplete="given-name"
                type="text"
              />
              <mat-error>Title Name is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-2">
            <mat-form-field class="w-full delivery-input-field">
              <mat-label>Image URL</mat-label>
              <input
                matInput
                formControlName="imageUrl"
                placeholder="Image URL"
                autocomplete="given-name"
                type="text"
              />
              <mat-error>Image URL is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-2 lg:col-span-1">
            <mat-form-field class="w-full delivery-input-field">
              <mat-label>Color</mat-label>
              <input
                matInput
                formControlName="color"
                placeholder="Color"
                autocomplete="given-name"
                type="text"
              />
              <mat-error>Color is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-2 lg:col-span-1">
            <mat-form-field class="w-full delivery-input-field">
              <mat-label>Discounted Price</mat-label>
              <span matTextPrefix>₹ &nbsp;</span>
              <input
                matInput
                formControlName="discountedPrice"
                placeholder="Discounted Price"
                autocomplete="given-name"
                type="number"
              />
              <mat-error
                >Discounted Price is <strong>required</strong></mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-span-2 lg:col-span-1">
            <mat-form-field class="w-full delivery-input-field">
              <mat-label>Price</mat-label>
              <span matTextPrefix>₹ &nbsp;</span>
              <input
                matInput
                formControlName="price"
                placeholder="Price"
                autocomplete="given-name"
                type="number"
              />
              <mat-error>Price is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-2 lg:col-span-1">
            <mat-form-field class="w-full delivery-input-field">
              <mat-label>Discount Percent</mat-label>
              <span matTextSuffix>% &nbsp;</span>
              <input
                matInput
                formControlName="discountPercent"
                placeholder="Discount Percent"
                autocomplete="given-name"
                type="number"
              />
              <mat-error
                *ngIf="myForm.controls['discountPercent'].hasError('required')"
                >Discount Percent is <strong>required</strong></mat-error
              >
              <mat-error
                *ngIf="myForm.controls['discountPercent'].hasError('max')"
              >
                Discount Percent cannot more than 100.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-2 lg:col-span-1">
            <mat-form-field class="w-full delivery-input-field topLevel">
              <mat-label>Top Level Category</mat-label>
              <mat-select formControlName="topLevelCategory">
                <mat-option value="men">Men</mat-option>
                <mat-option value="women">Women</mat-option>
                <mat-option value="footwear">Footwear</mat-option>
              </mat-select>
              <mat-error
                >Top Level Category is <strong>required</strong></mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-span-2 lg:col-span-1">
            <mat-form-field class="w-full delivery-input-field">
              <mat-label>Second Level Category</mat-label>
              <input
                matInput
                formControlName="secondLevelCategory"
                placeholder="Example: men_oversized_tshirts"
                autocomplete="given-name"
                type="text"
              />
              <mat-error
                >Second Level Category is <strong>required</strong></mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-span-2">
            <p [class.text-red-500]="sizeDirty" class="text-lg font-semibold">
              Sizes &nbsp;
              <span
                [class.text-red-500]="sizeDirty"
                class="text-xs text-gray-500"
                >(Add atleast one size quantity)
              </span>
            </p>
          </div>
          <div formArrayName="sizes" class="col-span-2">
            <div class="grid grid-cols-2 gap-4">
              <div
                class="col-span-2 lg:col-span-1"
                *ngFor="let size of getSizeControls(); let i = index"
                [formGroupName]="i"
              >
                <mat-form-field class="w-full delivery-input-field">
                  <mat-label
                    >{{ size.get("name")?.value }} Size Quantity</mat-label
                  >
                  <input
                    matInput
                    formControlName="quantity"
                    placeholder="Quantity"
                    type="number"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-span-2">
            <p class="text-lg font-semibold">Sample Pictures</p>
          </div>
          <div formArrayName="samplePics" class="col-span-2">
            <div class="grid grid-cols-2 gap-4">
              <div
                class="col-span-2 flex justify-start items-start gap-2"
                *ngFor="let samplePic of getSamplePicControls(); let i = index"
              >
                <mat-form-field class="w-[80%] delivery-input-field">
                  <input
                    type="text"
                    matInput
                    placeholder="Sample Image URL"
                    [formControlName]="i"
                  />
                </mat-form-field>
                <button
                  mat-icon-button
                  type="button"
                  (click)="$event.stopPropagation(); removeSamplePic(i)"
                >
                  <mat-icon class="text-red-500">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <button
            class="col-span-1 w-[80%] lg:w-[50%] px-2 py-1 bg-purple-700 hover:bg-purple-600 text-white"
            type="button"
            color="primary"
            (click)="$event.stopPropagation(); addSamplePic()"
          >
            Add Sample Image
          </button>
          <div class="mt-10 mb-4 col-span-2">
            <button
              class="w-full bg-yellow-500 text-black hover:bg-yellow-400 font-semibold text-lg lg:text-xl"
              style="padding: 1.4rem"
              type="submit"
            >
              ADD PRODUCT
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
