@use "@angular/material" as mat;

.logo-text {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dash-sections {
  flex-direction: row;
}

@media (max-width: 1300px) {
  .dash-sections {
    flex-direction: column;
  }

  .section-width {
    width: 100%;
  }
}

.admin-products-table {
  @include mat.table-overrides(
    (
      background-color: rgba(var(--background)),
      header-headline-weight: 900,
      header-headline-color: rgba(var(--text)),
      header-headline-size: 18px,
      row-item-label-text-color: rgba(var(--text)),
      row-item-container-height: 5rem,
    )
  );
}
