<div class="flex flex-col justify-center itmes-center w-full h-screen">
  <div class="mb-5 text-center">
    <p class="text-8xl font-bold text-red-500 dark:text-red-700">404</p>
  </div>
  <div class="mb-4 text-center">
    <p class="text-lg font-semibold text-gray-700 dark:text-gray-300">
      <span class="font-bold">OOPS!</span> The Page You Are Looking For Does Not
      Exist.
    </p>
  </div>
  <div class="text-center">
    <button
      (click)="goHome()"
      class="bg-purple-700 text-white px-4 py-2 hover:bg-purple-500"
    >
      Go To Homepage
    </button>
  </div>
</div>
