@media (max-width: 1350px) {
  .star-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 374px) {
  .star-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
  }
}
