<div
  class="p-5 shadow-lg border rounded-md border-gray-400 dark:border-gray-700"
>
  <div class="flex items-center">
    <div class="w-[5rem] h-[5rem] lg:w-[9rem] lg:h-[9rem]">
      <img
        class="w-full h-full object-cover object-top"
        [ngSrc]="cartItem.product.imageUrl"
        width="300"
        height="500"
        [alt]="cartItem.product.title"
      />
    </div>
    <div class="ml-5 space-y-1">
      <p class="font-semibold">
        {{ cartItem.product.title }}
      </p>
      <p class="text-gray-500">Size: {{ cartItem.size }}</p>
      <div class="flex space-x-2 items-center pt-3">
        <p class="font-semibold text-lg">₹{{ cartItem.discountedPrice }}</p>
        <p class="text-gray-500 line-through">₹{{ cartItem.price }}</p>
        <p class="text-green-500 font-semibold">
          {{ cartItem.product.discountPercent }}% OFF
        </p>
      </div>
    </div>
  </div>
  <div
    *ngIf="showButtons"
    class="flex items-center pt-4 justify-between lg:space-x-10"
  >
    <div class="flex items-center space-x-2">
      <div class="cart-page-button-container">
        <button
          mat-mini-fab
          class="item-number-button"
          (click)="updateItemNumber(-1)"
          [disabled]="cartItem.quantity == 1"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <span class="py-1 px-7 border border-gray-800 rounded-sm">{{
        cartItem.quantity
      }}</span>
      <div class="cart-page-button-container">
        <button
          mat-mini-fab
          color="warn"
          class="item-number-button"
          (click)="updateItemNumber(1)"
          [disabled]="false"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <button
      (click)="removeCartItem()"
      class="cart-product-delete-button"
      mat-mini-fab
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
