@use "@angular/material" as mat;

.cart-product-delete-button {
  color: white;
  @include mat.fab-overrides(
    (
      small-container-color: #c70039,
    )
  );
}

.item-number-button {
  color: #f5f5f5;
  @include mat.fab-overrides(
    (
      small-container-color: black,
      small-disabled-state-container-color: #575757,
    )
  );
}

@media (prefers-color-scheme: dark) {
  .item-number-button {
    @include mat.fab-overrides(
      (
        small-container-color: #757575,
        small-disabled-state-container-color: #383838,
      )
    );
  }
}
